:root {
  --color-background-card: #f8e9dd;
  --color-background-white: #fffbf6;
  --color-white: #ffffff;
  --color-red-dark: #ec755d;
  --color-brown-dark: #382314;
  --color-brown-medium: #92857a;
  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--color-background-card);
  color: var(--color-white);
  display: flex;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
  min-height: 100dvh;
  padding: 0 1rem;
}

.card-container {
  background-color: var(--color-background-card);
  width: 100%;
}

.card-container-top {
  background-color: var(--color-red-dark);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.5rem 1.375rem 1.25rem;
  margin-bottom: 1.5rem;
}

.card-container-top-left {
  display: flex;
  flex-direction: column;
}

.card-container-top-balance {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.card-container-top-number {
  font-size: 24px;
  font-weight: 700;
}

.card-container-top-image {
  width: 60px;
}

.card-container-bottom {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 1.5rem 1.25rem;
  background-color: var(--color-background-white);
}

.card-container-bottom-heading {
  color: var(--color-brown-dark);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.card-container-bottom-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-container-bottom-amount-container-left,
.card-container-bottom-amount-container-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-container-bottom-amount-container-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.card-container-bottom-amount-container-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.card-container-bottom-amount-text {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--color-brown-medium);
}

.card-container-bottom-amount-text:nth-of-type(1) {
  margin-bottom: 0.25rem;
}

.card-container-bottom-amount-total {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--color-brown-dark);
}

.card-container-bottom-amount-percent {
  color: var(--color-brown-dark);
  font-size: 0.9375rem;
  font-weight: 700;
}

/* Stats */
.card-container-bottom-stats-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-background-card);
  margin-bottom: 1.5rem;
}

.bar-container-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bar-container-amounts-container {
  padding: 0.2rem;
  background-color: var(--color-brown-dark);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  visibility: hidden;
}

.bar-container-amounts-text {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 400;
}

.bar-container-charts {
  all: unset;
  background-color: var(--color-red-dark);
  width: 33px;
  border-radius: 3px;
}

.bar-container-charts:hover {
  background-color: #ff9b86;
}

.bar-container-charts:active {
  background-color: #76b5bc;
}

.bar-container-charts-index-0 {
  height: 50px;
}

.bar-container-charts-index-1 {
  height: 100px;
}

.bar-container-charts-index-2 {
  height: 150px;
}

.bar-container-charts-index-3 {
  height: 89px;
}

.bar-container-charts-index-4 {
  height: 67px;
}

.bar-container-charts-index-5 {
  height: 124px;
}

.bar-container-charts-index-6 {
  height: 73px;
}

.bar-container-days {
  color: var(--color-brown-medium);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}
